[Desktop Entry]
Encoding=UTF-8
Name=BlockChain-Coin Wallet
Comment=BlockChain-Coi wallet
Exec=BlockChain-Coi %U
Terminal=false
Type=Application
Icon=blockchain-coin
MimeType=x-scheme-handler/blockchain-coin;
Categories=Office;Finance;
